html {
  scroll-behavior: smooth;
}

a {
  padding-left: 20px;
  color: #f9f9fa;
  text-decoration: none;
}
/* #home {
  margin-top: 8px;
} */
#title {
  position: fixed;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 27vh;
  z-index: 1;
}
menu {
  /* padding: 20px; */
  display: flex;
  flex-wrap: nowrap;
}
a:visited {
  color: rgb(250, 250, 250);
}
body {
  margin: 0;
  padding: 0;
  background-color: #1e81b0;
  font-family: Arial, sans-serif;
  height: 1000px;
}
section {
  height: 100vh;
  padding-top: 36px;
}
.aside {
  position: fixed;
  top: 57px;
  left: 5px;
  float: left;
  background-color: #f9f9fa;
  color: #1e81b0;
  padding-top: 25px;
  padding-left: 24px;
  padding-right: 43px;
  padding-bottom: 45px;
  height: 120px;
  overflow-y: auto;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  z-index: 1;
}

#aside-bar {
  display: block;
  align-content: center;
  color: #1e81b0;
  z-index: 4;
}
main {
  /* background-color: #f9f9fa; */
  position: relative;

  color: #f9f9fa;
  padding-top: 5vh;
  padding-left: 30vh;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  z-index: 0;
}
.ico {
  display: none;
  color: rgb(250, 250, 250);
}
@media screen and (max-width: 850px) {
  #aside-bar {
    display: none;
  }
  .aside {
    display: none;
  }
  #title {
    padding-left: 5vh;
    font-size: large;
  }
  body {
    height: 1000px;
  }
  main {
    padding-left: 2vh;
    height: 200vh;
  }
  a {
    display: none;
  }
  .ico {
    display: block;
  }
  .ico:hover {
    /* padding: 20px; */
    display: none;
    a a:hover {
      display: block;
    }
  }
  section {
    height: 100vh;
    padding-top: 36px;
  }
  footer {
    color: white;
    font-size: x-large;
    top: 1330px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
